<br>
<h3>Add-Test</h3> 
<form #form="ngForm" name="form" (ngSubmit)="addTest(form)">

    <table border="2"><div class="table-class">
        <tr>
        <td>
            <label>Center Id</label>
        </td>
        <td>
            <input type="text"  name="centerId" ngModel required maxlength="20">
        </td>
    </tr><tr>
       <td>
        <label>Test Name</label>
       </td>
       <td>
        <input type="text" name="testName" ngModel required maxlength="15">
       </td>
    </tr>
    <input type="submit" [disabled]="form.form.invalid"></div>
</table>
    </form>
    
    <div *ngIf="success"><h2>Totall tests in centerId={{foundCenter.centerId}} are----------------</h2>
     <div *ngFor="let t1 of testArray">
        {{"Test Name "+t1.testName}}
        {{"Test Id " +t1.testName}}

    </div>
</div> 
