<br>
<h3>Remove-Center</h3> 
<form #form="ngForm" name="form" (ngSubmit)="removeCenter(form)">

    <table border="2"><div class="table-class">
    <tr>
        <td>
            <label>Center Id</label>
        </td>
        <td>
            <input type="text"  name="centerId" ngModel required maxlength="20">
        </td>
    </tr>
     
    <input type="submit"  [disabled]="form.form.invalid"></div>
</table>
    </form>

    <div *ngIf="removed"><h2>Deleted Center-------------------------------------------------------</h2>
        {{"centerId id "+foundCenter.centerId}}
        {{"centerName is "+foundCenter.centerName}}<br>
        {{"centerAddress is "+foundCenter.address}}<br>
        {{"contactNo is "+foundCenter.contactNo}}<br>
        <div *ngFor="let t of foundCenter.tests">
           testId is {{t.testId}}
           testName is {{t.testName}}
        </div>



    </div>
  
  <div *ngIf="dc">
    <b>"center not exists"</b> 
  </div>
   
    
