
<div align="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTqZOHK5Pxatj3xXquO9kAr_m4i1LB41WinJEkfg4MJzNhClIIj&usqp=CAU">
 
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRcVGJ6ePdU7movdUPWNWo0FgyrbxoYn2mPVjq-jc_GBNRck_IA&usqp=CAU" width="400" height="150" >
    
<br><h1 class="heading">HealthCare System</h1>
<h4 color="green">Welcome Sakshi!!!</h4>
<!-- <app-add-center></app-add-center>
<app-add-test></app-add-test> -->
<table border="20" class="table-center">
<tr><td><a routerLink="veiwcenter"><h4><b>View Center</b></h4></a></td>
    <td><a routerLink="addcenter"><h4><b>Add Center</b></h4></a></td>
    <td><a routerLink="removecenter"><h4><b>Remove Center</b></h4></a></td>
    <td><a routerLink="addtest"><h4><b>Add Test</b></h4></a></td>
    <td><a routerLink="removetest"><h4><b>Remove Test</b></h4></a></td></table></div>
<router-outlet></router-outlet>