<br>
<h3>Add-center-details</h3> 
<form #myform="ngForm" name="form"  (ngSubmit)="addCenter(myform)">
<table border="2"><div class="table-class">
   <tr>
    <td><label>Center Name</label></td>
    <td>  <input type="text" name="centerName" ngModel required maxlength="20"></td>  
    </tr>
       <tr><td> <label>Address</label></td>
            <td><input type="text"  name="centerAddress" ngModel required maxlength="20"> </td>
       </tr>  
    <tr>
        <td>
            <label>ContactNo</label>
        </td>
        <td> <input type="text" maxlength="10"  name="centerNumber" ngModel pattern="[1-9]{9}[0-9]{1}" required></td>
    </tr>
<input type="submit" [disabled]="myform.form.invalid"></div>
</table>
    </form>

    <div *ngIf="added">
        {{addedCenter.centerName }} already exists....
      </div> 
  

     <div *ngIf="dc"><h2>Added center details are----------------------------------------------</h2>
    {{"centerId is "+ addedCenter.centerId}}<br>
    {{"centerName is "+addedCenter.centerName}}<br>
    {{"centerAddress is "+addedCenter.address}}<br>
    {{"contactNo is "+addedCenter.contactNo}}<br>
    <div *ngFor="let t of addedCenter.tests">
       testId is {{t.testId}}
       testName is {{t.testName}}
    </div>
   
  
    </div>