<div align="center">
  
<h3>Add-center-details</h3> 
<form #myform="ngForm" name="form"  (ngSubmit)="addCenter(myform)">
<table border="2"><div class="table-class">
   <tr>
    <td><label>Center Name</label></td>
    <td>  <input type="text" name="centerName" ngModel #nameVariable=ngModel required maxlength="20" ></td>  
    <td><div *ngIf="nameVariable.invalid && (nameVariable.dirty || nameVariable.touched)" class="myerror">
        <div *ngIf="nameVariable.invalid == true">
            <div *ngIf="nameVariable.errors.required">
                Center name is required. | Not be numeric
            </div>
           
        </div>
    </div>
</td>
</tr>
       <tr><td> <label>Address</label></td>
            <td><input type="text"  name="centerAddress" ngModel required  #address=ngModel maxlength="20"> </td>
            <td><div *ngIf="address.invalid && (address.dirty || address.touched)" class="myerror">
                <div *ngIf="address.invalid == true">
                    <div *ngIf="address.errors.required">
                        address is required.
                    </div>
                </div>
            </div>
            </td>
       </tr>  
    <tr>
        <td>
            <label>ContactNo</label>
        </td>
        <td> <input type="text" maxlength="10"   name="centerNumber" ngModel pattern="[1-9]{1}[0-9]{9}" required  #contact=ngModel></td>
        <td><div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="myerror">
            <div *ngIf="contact.invalid == true">
                <div *ngIf="contact.errors.required">
                    contactNo is required.
                </div>
                
            </div>
        </div>
        </td>
    </tr>
<button type="submit" [disabled]="myform.form.invalid" class="btn btn-primary" >Submit</button></div>
</table>
    </form>
</div>
    <div *ngIf="added" class="error" align="center">
        center already exists....
      </div> 
  

     <div *ngIf="dc" class="result"  align="center" ><h2>Added center details are</h2>
    {{"CenterId is "+ addedCenter.centerId}}<br>
    {{"CenterName is "+addedCenter.centerName}}<br>
    {{"CenterAddress is "+addedCenter.address}}<br>
    {{"ContactNo is "+addedCenter.contactNo}}<br>
    <div *ngFor="let t of addedCenter.tests">
       TestId is {{t.testId}}
       TestName is {{t.testName}}
    </div>
   
  
    </div>